{
  "printWidth": 125,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": true,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
